[Unit]
Description=winject-radio-realtek for GS RTL8812AU
StartLimitIntervalSec=0
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/development/rover-ground/radio
ExecStart=/home/ubuntu/development/rover-ground/radio/start.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
